@(message: String)
<!DOCTYPE html>
<html>

    <body>

        <header class="topbar">
            <h1>
                Query 1.1 Paper Search
            </h1>

        </header>

        <div>
            <p>
                @message
            </p>

        </div>

        <form action = "@routes.HomeController.q11Handler()" method="GET">
            <label>Paper Name</label>
            <input type = "text" maxlength="100" id="title" name="title">
            <button id="api-get-page"  class="btn btn-primary" type="submit">1.1 Paper Search</button>
        </form>
    </body>
</html>