@(message: String)
<!DOCTYPE html>
<html>
    <body>

        <header class="topbar">
            <h1>
                Query 2.1 Metadata Search
            </h1>

        </header>

        <div>
            <p>
                @message
            </p>

        </div>

        <form action = "@routes.HomeController.q21Handler()" method="GET">
            <label>Name</label>
            <input type = "text" maxlength="100" id="name" name="name">
            <label>Year</label>
            <input type = "text" maxlength="100" id="year" name="year">
            <button id="api-get-page"  class="btn btn-primary" type="submit">2.1 Metadata Search</button>
        </form>
    </body>
</html>